altgraph==0.17.2
async-generator==1.10
attrs==22.1.0
autopep8==1.7.0
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.0
colorama==0.4.5
cycler==0.11.0
fonttools==4.37.1
future==0.18.2
h11==0.13.0
idna==3.3
kiwisolver==1.4.4
matplotlib==3.5.3
numpy==1.23.2
outcome==1.2.0
packaging==21.3
pandas==1.4.3
pefile==2022.5.30
Pillow==9.2.0
proxy.py==2.4.3
pyaes==1.6.1
pyasn1==0.4.8
pycodestyle==2.9.1
pycparser==2.21
pyfiglet==0.8.post1
pyinstaller==5.3
pyinstaller-hooks-contrib==2022.8
pyparsing==3.0.9
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
Pyrogram==2.0.35
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2022.2.1
pywin32-ctypes==0.2.0
requests==2.28.1
rsa==4.9
schedule==1.1.0
selenium==4.4.3
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
termcolor==1.1.0
TgCrypto==1.2.3
toml==0.10.2
tqdm==4.64.0
trio==0.21.0
trio-websocket==0.9.2
urllib3==1.26.11
webdriver-manager==3.8.3
wsproto==1.2.0
